#container {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3,1fr);
    /* grid-template-columns: repeat(2,1fr); */
    /* grid-template-rows: repeat(3,1fr); */
    gap: 30px;
}

.card {
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    border-radius: 0 16px;
}